#tabs {
  height: 5vh;
}

#messages {
  height: 90vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: var(--bg-secondary);
}

#send-msg-field {
  height: 5vh;
}

input {
  width: 100%;
  height: 100%;
  background: var(--bg-main);
  color: var(--fg-main);
  border: none;
}

input:focus {
  outline: none;
}